@{
    ViewBag.Title = "Upload Slider Image";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@model AppBanwao.KaryKart.Web.Models.SliderModel
<div class="row">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","Slider")">Slider</a></li>
            <li class="active">Add Slide</li>
        </ul>
    </div>
</div>
<div class="row">
    <h3><i class="fa fa-upload"></i> Upload image</h3>
    <hr />
    <div class="col-md-10">
       
        @using (Html.BeginForm("Upload", "Slider", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
        {
          
                
                @Html.AntiForgeryToken()
                <div class="form-group">

                    @Html.LabelFor(m => m.Name, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-7">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "e.g. Slide 1" })
                        @Html.ValidationMessageFor(m => m.Name, null, new {@class="text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.OfferHeading, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-7">
                        @Html.TextBoxFor(m => m.OfferHeading, new { @class = "form-control", @rows = "3" })
                        <span class="help-block">Enter description with in 100 characters.</span>
                        @Html.ValidationMessageFor(m => m.OfferHeading, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.OfferText, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-7">
                        @Html.TextBoxFor(m => m.OfferText, new { @class = "form-control", @rows = "3" })
                        <span class="help-block">Enter description with in 300 characters.</span>
                        @Html.ValidationMessageFor(m => m.OfferText, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Image, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-7">

                        <input type="file" accept=".jpg,.png" name="Image" />
                        @Html.ValidationMessageFor(m => m.Image, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Active, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-7">

                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m=>m.Active)
                            </label>
                            
                        </div>
                </div>
                    </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-3">

                        <button type="submit" class="btn btn-success blueButton">Upload <i class="fa fa-upload"></i></button>
                        <hr />
                        <a href="@Url.Action("Index","Slider")" class="btn btn-danger">Back <i class="fa fa-backward"></i> </a>
                    </div>
                </div>
            
        }
    </div>
</div>

