<div class="list-group">
  <a href="@Url.Action("Index","Slider")" class="list-group-item active">
    Slider
  </a>
  <a href="@Url.Action("Index","Offer")" class="list-group-item">Offers
  </a>
    
      <a href="@Url.Action("Index","Country")" class="list-group-item">Country</a>
      <a href="@Url.Action("CurrencyDetails","ProductSettings")" class="list-group-item">Currency
  </a>
  <a href="@Url.Action("Index","Category")" class="list-group-item">Product Category
  </a>

      <a href="@Url.Action("Index","Brand")" class="list-group-item">Product Brands
  </a>
        <a href="@Url.Action("UnitDetails","ProductSettings")" class="list-group-item">Product Settings - Unit
  </a>
      <a href="@Url.Action("SizeTypeDetails","ProductSettings")" class="list-group-item">Product Settings - Sizetype
  </a>
    <a href="@Url.Action("SizeDetails","ProductSettings")" class="list-group-item">Product Settings - Size
  </a>
    <a href="@Url.Action("Index","Product")" class="list-group-item">Product
  </a>

</div>
